/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/tmp/
/tmep/
cookies.txt
*.zip
*.sql
_create_admin.php
_migrate.php
_clear_cache.php
_seed_services.php
/public/test*.php
/public/extract*.php
/public/minimal.php
